.body-wrapper-pricelist {
	background-image: $body-color-gradient;
}

.contain-pricelist-wrapper {
    @include contain-wrapper;
    padding-top: 15px;
}

h2 {
    margin: 0;
}

.contain-pricelist-wrapper p {
    margin-top: 15px;
    margin-bottom: 15px;
}

h3 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.contain-pricelist__information {
    background-color: #f5f5f550;
    padding: 15px;
    
}


.cpi-box {
    @include box;
    padding: 15px 20px;
}

/*  ORNAMENT*/
.contain-pricelist__ornament {
    display: flex;
    justify-content: space-between;
}


.contain-pricelist__ornament-left,
.contain-pricelist__ornament-right {
        height: 30px;
        width: 30px;
        background-size: contain;
        background-repeat: no-repeat;
}

.contain-pricelist__ornament-left img,
.contain-pricelist__ornament-right img {
    height: 100%;
    width: 100%;
}

.contain-pricelist__line-in-box::after {
    content: "";
    display: block;
    height: 20px;
    background-image: url(/images/linka.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
/*  ORNAMENT*/


@media screen and (min-width: 640px) {

    .contain-wrapper {
        margin: 0;
        max-width: 100%;
    }

    
    .contain-pricelist-wrapper-information {
        display: grid;
        grid-template-columns: 1fr 2fr 2fr 1fr 2fr 2fr 1fr;
        justify-content: center;
    }

    .contain-pricelist__information {
        grid-column: 2 / 7;
        grid-row: 2 / 3;
    }

    .contain-pricelist__information-firstbox {
        grid-column: 2 / 4;
        grid-row: 4 / 6;
    }

    .contain-pricelist__information-secondbox {
        grid-column: 5 / 7;
        grid-row: 4 / 6;
    }


}







