$color-text-menu: white;
$color-text: #42444D;
$color-li-menu-active: #eca831;
$color-li-menu-hover: #f59b00cc;
$font-base: 'Alegreya', serif, 'Alegreya Sans', sans-serif;
$font-base-top: 'Alegreya Sans';

$paragraph-margin: 15px;
$block-margin: 30px;

$color-gradient: linear-gradient(to right, #f59b00cc 15%, #f5bd5b 50%, #f8d9a3 70%);
$body-color-gradient: linear-gradient(#A7A9B4, #BDBFC7, #FFC35C);