{% if title === 'Galerie' %} 
<div class="contain-gallery__photo-wrapper">
	<a class="photo" data-fslightbox="gallery" href="/images/1w.JPG"> <img src="/images/nahled1w.JPG"> </a>
	<a class="photo" data-fslightbox="gallery" href="/images/2w.JPG"> <img src="/images/nahled2w.JPG"> </a>
	<a class="photo" data-fslightbox="gallery" href="/images/3w.JPG"> <img src="/images/nahled3w.JPG"> </a>
	<a class="photo" data-fslightbox="gallery" href="/images/4w.JPG"> <img src="/images/nahled4w.JPG"> </a>
	<a class="photo" data-fslightbox="gallery" href="/images/5w.JPG"> <img src="/images/nahled5w.JPG"> </a>
	<a class="photo" data-fslightbox="gallery" href="/images/6w.JPG"> <img src="/images/nahled6w.JPG"> </a>
	<a class="photo" data-fslightbox="gallery" href="/images/7w.JPG"> <img src="/images/nahled7w.JPG"> </a>
	<a class="photo" data-fslightbox="gallery" href="/images/8w.JPG"> <img src="/images/nahled8w.JPG"> </a>
	<a class="photo" data-fslightbox="gallery" href="/images/9w.JPG"> <img src="/images/nahled9w.JPG"> </a>
	<a class="photo" data-fslightbox="gallery" href="/images/10w.JPG"> <img src="/images/nahled10w.JPG"> </a>
	<a class="photo" data-fslightbox="gallery" href="/images/11w.JPG"> <img src="/images/nahled11w.JPG"> </a>
	<a class="photo" data-fslightbox="gallery" href="/images/12w.JPG"> <img src="/images/nahled12w.JPG"> </a>
	<a class="photo" data-fslightbox="gallery" href="/images/13w.JPG"> <img src="/images/nahled13w.JPG"> </a>
	<a class="photo" data-fslightbox="gallery" href="/images/14w.JPG"> <img src="/images/nahled14w.JPG"> </a>
	<a class="photo" data-fslightbox="gallery" href="/images/15w.JPG"> <img src="/images/nahled15w.JPG"> </a>
	<a class="photo" data-fslightbox="gallery" href="/images/16w.JPG"> <img src="/images/nahled16w.JPG"> </a>
	<a class="photo" data-fslightbox="gallery" href="/images/17w.JPG"> <img src="/images/nahled17w.JPG"> </a>
	<a class="photo" data-fslightbox="gallery" href="/images/18w.JPG"> <img src="/images/nahled18w.JPG"> </a>
	<a class="photo" data-fslightbox="gallery" href="/images/19w.JPG"> <img src="/images/nahled19w.JPG"> </a>
	<a class="photo" data-fslightbox="gallery" href="/images/20w.JPG"> <img src="/images/nahled20w.JPG"> </a>
	<a class="photo" data-fslightbox="gallery" href="/images/21w.JPG"> <img src="/images/nahled21w.JPG"> </a>
	<a class="photo" data-fslightbox="gallery" href="/images/22w.JPG"> <img src="/images/nahled22w.JPG"> </a>
	<a class="photo" data-fslightbox="gallery" href="/images/23w.JPG"> <img src="/images/nahled23w.JPG"> </a>
</div>
{% endif %}

		<div class="footer__inner">

			<div class="footer-line{% if title === 'O mně' %} footer-line-orange {% endif %}"></div>
			
			<div class="footer__wrapper">
				<footer class="footer">© 2020, Petr Dopita</footer>
			</div>
		</div>

<script src="/js/fslightbox.js"></script>

</body>		
</html>